<ion-header>
  <ion-toolbar color="primary">
    <div class="row p-2 align-items-center">
      <div class="col-3 text-center">
        <img
          src="https://thumbs.dreamstime.com/b/generic-person-gray-photo-placeholder-man-silhouette-white-background-144511705.jpg"
          alt=""
          height="50px"
          width="50px"
          class="rounded-circle"
        />
      </div>
      <div class="col-7 p-0">
        <div class="fw-bold profile-name">Brayden</div>
        <div class="text-secondary profile-email">
          8957489560 | email@website.com
        </div>
      </div>

      <div class="col-2 d-flex justify-content-center">
        <ion-button> Edit </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="row">
    <div class="col-10">
      <div class="fw-bold">My Account</div>

      <div>Address, Favourites & Offers</div>
    </div>
    <div class="col-2"></div>
  </div>
</ion-content>
