<ion-header>
  <ion-toolbar color="primary">
    <ion-button fill="clear" class="text-white" (click)="onBackClick()">
      <ion-icon name="chevron-back"></ion-icon> Back
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding h-100 w-100">
  <div class="h-100">
    <ion-card
      *ngFor="let detail of modaldetails"
      class="text-center py-3 m-0"
      mode="ios"
    >
      <div class="w-25 m-auto">
        <img
          src="https://cdn.worldvectorlogo.com/logos/gmc-1.svg"
          class="h-100 w-100"
        />
      </div>
      <div class="h5 fw-bold py-2">{{detail.make}}</div>
      <div class="w-75 m-auto fw-bold">
        <div>Storage location : {{detail.storage_location}}</div>
        <div>Arrival date : {{detail.arrival_date}}</div>
        <div>VSN : {{detail.VIN}}</div>
      </div>
    </ion-card>

    <div class="py-2" *ngIf="true">
      <div class="row align-items-center py-3">
        <div class="col-7 h5 m-0 fw-bold">Battery Green Eye</div>
        <div class="col-5 d-flex align-items-center justify-content-end">
          <div class="mx-2 d-flex align-items-center">
            <ion-checkbox></ion-checkbox>
          </div>
          checked
        </div>
      </div>

      <div class="row align-items-center py-3">
        <div class="col-7 h5 m-0 fw-bold py-2">Tire Pressure</div>
        <div class="col-5 d-flex align-items-center justify-content-end">
          <div class="mx-2 d-flex align-items-center">
            <ion-checkbox></ion-checkbox>
          </div>
          checked
        </div>

        <div class="col-12 text-muted">
          <div class="row align-items-center p-1 m-1">
            <div class="col-9 p-0 fw-bold">Front-Right</div>
            <div class="col-3 p-0">
              <ion-input class="custom" value="118" type="number"> </ion-input>
            </div>
          </div>

          <div class="row align-items-center p-1 m-1">
            <div class="col-9 p-0 fw-bold">Front-Left</div>
            <div class="col-3 p-0">
              <ion-input class="custom" value="55" type="number"> </ion-input>
            </div>
          </div>

          <div class="row align-items-center p-1 m-1">
            <div class="col-9 p-0 fw-bold">Rear-Right</div>
            <div class="col-3 p-0">
              <ion-input class="custom" value="345" type="number"> </ion-input>
            </div>
          </div>

          <div class="row align-items-center p-1 m-1">
            <div class="col-9 p-0 fw-bold">Rear-Left</div>
            <div class="col-3 p-0">
              <ion-input class="custom" value="666" type="number"> </ion-input>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center py-3">
        <div class="col-7 h5 m-0 fw-bold">Gas Tank</div>
        <div class="col-5 d-flex align-items-center justify-content-end">
          <div class="mx-2 d-flex align-items-center">
            <ion-checkbox></ion-checkbox>
          </div>
          checked
        </div>
      </div>
      <div class="row align-items-center py-3">
        <div class="col-7 h5 m-0 fw-bold">Engine Run</div>
        <div class="col-5 d-flex align-items-center justify-content-end">
          <div class="mx-2 d-flex align-items-center">
            <ion-checkbox></ion-checkbox>
          </div>
          checked
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="px-4 py-2">
      <ion-button expand="block"> Complete </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
