<ion-header>
  <ion-toolbar color="primary" class="text-center">
    <div class="h3 m-0 py-3">Jobs</div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card
    *ngFor="let job of jobs"
    color="light"
    mode="ios"
    class="p-2 mx-0 my-3 text-dark"
    (click)="onCardClick(job)"
  >
    <div class="row align-items-center p-3">
      <div style="font-size: 14px" class="col-md-7 col-7 p-0 fw-bold h5 m-0">
        Tasks:
      </div>
      <div class="col-md-5 col-5 text-end p-0">
        Due :<span class="text-danger">
          {{job.due_date |date :'dd/MM/yyyy'}}</span
        >
      </div>
    </div>

    <div class="p-3 text-secondary cont fw-bold">
      <div *ngFor="let task of job?.tasks ">{{task?.name}}</div>
    </div>

    <div
      style="padding: 10px; display: flex; align-items: center; font-size: 18px"
      class="fw-bold m-0 h6"
    >
      <div class="w-25 px-2">
        <img
          src="https://cdn.worldvectorlogo.com/logos/gmc-1.svg"
          class="logo"
        />
      </div>
      {{job.model}}
    </div>
  </ion-card>
</ion-content>
