<ion-header>
  <ion-toolbar color="primary" class="text-center">
    <div class="h3 m-0 py-3">Cars</div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div
    (click)="onCarClick(i)"
    class="row mx-1 my-3 p-1 shadow-custom align-items-center rounded bg-white"
    *ngFor="let i of cars"
  >
    <div class="col-8 fw-bold pt-2">{{i?.VIN}}</div>
    <div class="col-4 text-end time">
      {{i?.arrival_date | date :'dd/MM/yyyy'}}
    </div>

    <div class="py-2">{{i?.model}},{{i?.color}}</div>
  </div>
</ion-content>
