<ion-header>
  <ion-toolbar color="primary" class="text-center">
    <div class="h3 m-0 py-3">Notifications</div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div
    class="row mx-1 my-3 p-1 align-items-center rounded bg-white"
    *ngFor="let i of [1,1,1,1]"
  >
    <div class="col-9 fw-bold pt-2">Congratulations</div>
    <div class="col-3 text-end time">09:12</div>

    <div class="py-2">35% your daily challenge completed</div>
  </div>
</ion-content>
