<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-row>
        <ion-col size="3" class="pdl30 pdt50">
          <ion-icon
            class="back"
            (click)="onbackClick()"
            name="chevron-back"
          ></ion-icon>
        </ion-col>
        <ion-col size="6" class="text-center pt-5 pb-5">
          <img src="../../assets/icon/gm-lgo.jpg" alt="" style="width: 80px" />
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="pdt65">
    <div class="email-box pdl30 pdr25">
      <div>
        <div class="email-txt pdt30">Email</div>
        <ion-input
          label-placement="floating"
          formControlName="Email"
          fill="outline"
          type="email"
          placeholder="sophat.leat@nintrea.live"
          class="bg-clr pdlp10 txt-clr"
        ></ion-input>
      </div>

      <div
        *ngIf="form?.['Email']?.touched && form?.['Email']?.errors?.required"
        class="text-danger validation pdr"
      >
        Email is required
      </div>
      <div
        *ngIf="form?.['Email']?.touched && form?.['Email']?.errors?.email"
        class="text-danger validation pdr"
      >
        Email is wrong
      </div>
    </div>

    <div class="pdt100 pdl30 pdr25">
      <ion-button (click)="onSubmitClick()" class="login-btn" expand="full"
        >Verify Message
      </ion-button>
    </div>
  </form>
</ion-content>

<ion-footer class="ion-no-border"> </ion-footer>
